<h2>Welcome</h2>

<h3 style="width= 600px"> Please select a function from the navigation bar </h3>


<img src="http://tstonews.com/imgs/4_4_0r5_PattyAndSelma/anim/discostu_boogie_down.gif"
  alt="disco stu" class="disco_stu" style="margin = 50px">
