<!DOCTYPE html>
<html>
<head>
  <title>Disco Dave's Records</title>

<link rel="stylesheet" type="text/css" href="/styles.css">
<link rel="stylesheet" type="text/css" href="/button.css">
<link rel="stylesheet" type="text/css" href="/table.css">
<link rel="stylesheet" type="text/css" href="/album.css">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

</head>
<body>
<main class="flex flex--row">
  <nav>
    <div class="title-wrapper">
      <img src="http://bestanimations.com/Music/MirrorBalls/animated-purple-disco-ball3.gif"
      alt="disco ball" class="disco_ball">

      <span class="title">Disco Dave's Records</span>

      <img src="http://bestanimations.com/Music/MirrorBalls/animated-purple-disco-ball3.gif"
        alt="disco ball" class="disco_ball">
    </div>

    <ul>
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/albums">Albums</a>
      </li>
      <li>
        <a href="/genres">Genres</a>
      </li>
    </ul>
  </nav>


  <img src="/disco-wp.png"
    alt="background" class="background">


  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
