<h2>Add New Artists</h2>

<form method="post" action="/artists">

  <label for="artist-name">Artist Name:</label>
  <input type="text" name="name" id="artist-name" />

<input type="submit" value="Add Artist">
</form>

<h2>Add New Genre</h2>

<form method="post" action="/genres" id="genre-name">

  <label for="genre-name">Genre Name:</label>
  <input type="text" name="name" id="genre-name" />

<input type="submit" value="Add Genre" id="genre-name">
</form>
