
/*.h-table td, th {
  text-align: center;
}*/

.h-table td {
  padding: 10px 40px 0px 0px;
  height: 35px;
}

.v-table td {
 height: 35px;
}
.v-table tr {
  border-bottom: 1px solid purple;

}

.h-table th {
  padding: 50px 40px 10px 0px;
  border-bottom: 1px solid purple;
}


.h-table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
  /*color: white;*/
}

.column1 {
  text-align: left;
}

.album-table{
  width: 85%;
}

.genre-table {
  width:60%;
}

.artist-table {
  width:75%;
}

.show-table {
  text-align: left;
  margin: 0px 0px 0px 80px;
  align-self: flex-end;
  width: 400px ;
  }

.show-table th{
  /*border-left: 1px solid purple;*/
}

/*.show-table td{
  border: 2px solid purple;
}

.show-table tr{
  border: 2px solid purple;
}*/

.genre-table{
  width: 75%;
}
.genre-album-table {
  display: flex;
  width: 750px;
  text-align: left;
  align-self: center;
}

.genre-album-table tbody{
  width: 750px;
}

.genre-album-table tbody tr{
  width: 750px;
}



table td a {
  text-decoration: none;
}

table td a:hover {
  color: green;
}
