<h1>Add New Artists</h1>

<form method="post" action="/artists"

  <label for="artist-name">Artist Name:</label>
  <input type="text" name="name" id="artist-name" />

<input type="submit" value="Add Artist">
</form>
